<div class="main-cards w-100">
  <div class="card" routerLink="./ajmn-details">
    <img class="card-img-top" src="../../../assets/playstore/al-jazeera-png-al-jazeera-logo-1431 (2).svg"
      alt="Card image cap">
    <div class="card-body">
      <img src="../../../assets/playstore/AJA-Watch-Icon.svg" alt="">
      <div class="card-text ps-2 pe-3">
        <div class="heading">ERP</div>
        <div class="text">
          Entreprise Resource Planning. Manage accounts, leaves and more on mobile device.
        </div>
      </div>
      <div class="small-screen-button">
        <button>
          Download
        </button>
      </div>
    </div>
  </div>
  <div class="card" routerLink="./ajmn-details">
    <img class="card-img-top" src="../../../assets/playstore/al-jazeera-png-al-jazeera-logo-1431 (2).svg"
      alt="Card image cap">
    <div class="card-body">
      <img src="../../../assets/playstore/AJA-Watch-Icon.svg" alt="">
      <div class="card-text ps-2 pe-3">
        <div class="heading">ERP</div>
        <div class="text">
          Entreprise Resource Planning. Manage accounts, leaves and more on mobile device.
        </div>
      </div>
      <div class="small-screen-button">
        <button>
          Download
        </button>
      </div>
    </div>
  </div>
  <div class="card" routerLink="./ajmn-details">
    <img class="card-img-top" src="../../../assets/playstore/al-jazeera-png-al-jazeera-logo-1431 (2).svg"
      alt="Card image cap">
    <div class="card-body">
      <img src="../../../assets/playstore/AJA-Watch-Icon.svg" alt="">
      <div class="card-text ps-2 pe-3">
        <div class="heading">ERP</div>
        <div class="text">
          Entreprise Resource Planning. Manage accounts, leaves and more on mobile device.
        </div>
      </div>
      <div class="small-screen-button">
        <button>
          Download
        </button>
      </div>
    </div>
  </div>
  <div class="card" routerLink="./ajmn-details">
    <img class="card-img-top" src="../../../assets/playstore/al-jazeera-png-al-jazeera-logo-1431 (2).svg"
      alt="Card image cap">
    <div class="card-body">
      <img src="../../../assets/playstore/AJA-Watch-Icon.svg" alt="">
      <div class="card-text ps-2 pe-3">
        <div class="heading">ERP</div>
        <div class="text">
          Entreprise Resource Planning. Manage accounts, leaves and more on mobile device.
        </div>
      </div>
      <div class="small-screen-button">
        <button>
          Download
        </button>
      </div>
    </div>
  </div>
  <div class="card" routerLink="./ajmn-details">
    <img class="card-img-top" src="../../../assets/playstore/al-jazeera-png-al-jazeera-logo-1431 (2).svg"
      alt="Card image cap">
    <div class="card-body">
      <img src="../../../assets/playstore/AJA-Watch-Icon.svg" alt="">
      <div class="card-text ps-2 pe-3">
        <div class="heading">ERP</div>
        <div class="text">
          Entreprise Resource Planning. Manage accounts, leaves and more on mobile device.
        </div>
      </div>
      <div class="small-screen-button">
        <button>
          Download
        </button>
      </div>
    </div>
  </div>
  <div class="card" routerLink="./ajmn-details">
    <img class="card-img-top" src="../../../assets/playstore/al-jazeera-png-al-jazeera-logo-1431 (2).svg"
      alt="Card image cap">
    <div class="card-body">
      <img src="../../../assets/playstore/AJA-Watch-Icon.svg" alt="">
      <div class="card-text ps-2 pe-3">
        <div class="heading">ERP</div>
        <div class="text">
          Entreprise Resource Planning. Manage accounts, leaves and more on mobile device.
        </div>
      </div>
      <div class="small-screen-button">
        <button>
          Download
        </button>
      </div>
    </div>
  </div>
  <div class="card" routerLink="./ajmn-details">
    <img class="card-img-top" src="../../../assets/playstore/al-jazeera-png-al-jazeera-logo-1431 (2).svg"
      alt="Card image cap">
    <div class="card-body">
      <img src="../../../assets/playstore/AJA-Watch-Icon.svg" alt="">
      <div class="card-text ps-2 pe-3">
        <div class="heading">ERP</div>
        <div class="text">
          Entreprise Resource Planning. Manage accounts, leaves and more on mobile device.
        </div>
      </div>
      <div class="small-screen-button">
        <button>
          Download
        </button>
      </div>
    </div>
  </div>
  <div class="card" routerLink="./ajmn-details">
    <img class="card-img-top" src="../../../assets/playstore/al-jazeera-png-al-jazeera-logo-1431 (2).svg"
      alt="Card image cap">
    <div class="card-body">
      <img src="../../../assets/playstore/AJA-Watch-Icon.svg" alt="">
      <div class="card-text ps-2 pe-3">
        <div class="heading">ERP</div>
        <div class="text">
          Entreprise Resource Planning. Manage accounts, leaves and more on mobile device.
        </div>
      </div>
      <div class="small-screen-button">
        <button>
          Download
        </button>
      </div>
    </div>
  </div>
  <div class="card" routerLink="./ajmn-details">
    <img class="card-img-top" src="../../../assets/playstore/al-jazeera-png-al-jazeera-logo-1431 (2).svg"
      alt="Card image cap">
    <div class="card-body">
      <img src="../../../assets/playstore/AJA-Watch-Icon.svg" alt="">
      <div class="card-text ps-2 pe-3">
        <div class="heading">ERP</div>
        <div class="text">
          Entreprise Resource Planning. Manage accounts, leaves and more on mobile device.
        </div>
      </div>
      <div class="small-screen-button">
        <button>
          Download
        </button>
      </div>
    </div>
  </div>

</div>