/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "al-jazeera";
    src: url('./assets/fonts/Al-Jazeera-Arabic\ Bold.ttf') format('truetype');
    font-weight: bold;
    font-size: normal;

  }
  @font-face {
    font-family: "al-jazeera";
    src: url('./assets/fonts/Al-Jazeera-Arabic\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
  }  